<!-- form for unfollowing a suer -->
<%= form_for current_user.relationships.find_by_followed_id(@user), 
			:html => {:method => :delete },
			:remote => true do |f| %> <!-- :remote make this a Ajax request -->
	<div class="actions"><%= f.submit "Unfollow" %></div>
<% end %>