<table class = "profile" summary = "Profile information">
	<tr>
		<td class = "main">
			<h1>
				<%= gravatar_for @user, :size => 60 %><!-- call gravatar helper to setup the profile img with option -->
				<%= @user.name %>
			</h1>
		</td>
		<td class = "sidebar round">
			<strong> Name </strong> <%= @user.name %></br>
			<strong> URL </storng> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>
		