<footer>
	<nav>
		<ul>
			<li><%= link_to 'about', about_path %></li>
			<li><%= link_to 'contact', contact_path %></li>
			<li><%= link_to 'news', 'http://news.railstutorial.org/' %></li>
			<li><%= link_to 'Rails tutorial', 'http://www.railstutorial.org' %></li>
		</ul>
	</nav>
</footer>
